* {margin:0px;
   padding: 0px;	
}
body{
	background-color: #ECE9EB;
}
body html{
	height: 100%;

}
div{display: block;}
.page-width{
	max-width: 100%;
	min-width: 1280px;
}
.page-height{
	max-height: 100%;
	min-height: 590px;
}

/* LOGIN FORM PAGE 1 */

#login-form div.notify{
	width: 100%;
	height: 35px;
	padding: 10px 10px;
    margin: 8px 0px;
    display: inline-block;
    border: none;
    border: 1px solid #ccc;
    box-sizing: border-box;

	background-color: rgba(255, 128, 128);
}
#login-form div.notify p{
	font-family: sans-serif;
	font-size: 13px;
	margin-top: -7px;
	color: white;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    font-family: verdana;
    font-size: 14px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}







#main-page{
	/*background-image: url("../img/po.png"); */
	height: 100%;

}

#main-page #login-form{
	width: 25%;

	margin:auto;
	background-color: #fff;
	margin-top: 110px;
	padding:20px;
	text-align: center;
}
#main-page #login-form img{
	width: 75px;
	height: 75px;
	
}
#main-page #login-form h1{
	font-family: sans-serif;
	font-size: 16px;
	color: #666;
	padding: 25px 0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}
#main-page #login-form input{
	width: 100%;
	height: 35px;
	padding: 12px 10px;
    margin: 8px 0px;
    display: inline-block;
    border: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#main-page #login-form select{
	width: 100%;
	height: 35px;
	padding: 10px 10px;
    margin: 8px 0px;
    display: inline-block;
    border: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #444;
}
#main-page #login-form button{
  /*  background-color: #1580DF;
    color: white;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 20px;
    padding-bottom: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
 	text-rendering: auto;
 	border-radius: 5px;
 	outline: none;
 	white-space: nowrap;
 	box-shadow: 0 1px 1px #a7a7a7;
 	color: white !important;
 	text-shadow: 0 -1px 1px #1a4f9d;
 	font-size: 14px;
 	font-family: Lucida Grande;
 	letter-spacing: 0.7px; */
     background-color: #0074cc;
 	 background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
 	 border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-appearance: button;
    margin: 0;
    outline: none;
 	color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
 }

#header-admin{
	height:70px;
	background:#000;
	display: flex;
	background-color: #303FA0;
}
#header-left-admin{
	display: inherit;
	flex-direction: row;
	width: 18.7%;
	height: 50px;
	background-color: #3A48AB;
	padding: 10px;
	z-index: 1;
}
#header-right-admin{
	display: inherit;
	flex-direction: row;
	justify-content: flex-end;
	width: 78.3%;
	height: 50px;
	padding: 10px;
	box-shadow: 0px 0px 9px  #000;
	
}

#header-left-admin img{
	width: 50px;
	height: 50px;
	margin-right: 10px;


}
#header-left-admin h1{
	font-family: century gothic;
	color: white;
	font-size: 14px;
	text-shadow: 0 -1px 1px #1a4f9d;
	text-rendering: auto;
}
#wrapper{
	display: flex;
	-webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 400px;
    min-height: 600px;
}
#sidebar-left{
	width: 20.2%;
	height: 118%;
	box-shadow: 0px -1px 3px 0px  #D3D3D3;
	background-color: #fff;
	
}
#containner{
	width:79.9%;
	height: 10%;
	height: 100%;
}
.main-containner{
	width: 96.5%;
	height:100%;
	margin: auto;
	background-color: #fff;
	margin-top: 10px;
	box-shadow: 0px 0px 9px  #888;
	padding:10px;
	margin-bottom: 14px;
}
.main-containner table{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
.main-containner table tr .title-containner{
	height: 60px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1.5px solid #E1E1E1;
}
.main-containner table tr .title-containner p{
	font-family: sans-serif;
	color: #444;
	font-size: 23px;
	padding: 5px;
}
.main-containner table tr .title-containner .paragraf{
	font-family:arial;
	color: #444;
	font-size: 17px;
}

.main-containner table tr .paper-containner{
	padding: 20px;
}
.main-containner table tr .paper-containner table tr td{
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.paper-containner table tr td .this_inbox{
	width: 100%;
	height: 100%;
	background-color: #0B877C;
	position: relative;
}
.paper-containner table tr td .this_outbox{
	width: 100%;
	height: 100%;
	background-color: #F68D09;
}
.paper-containner table tr td .message-sent{
	width: 100%;
	height: 100%;
	background-color: #02B8FF;
}
.paper-containner table tr td .users{
	width: 100%;
	height: 100%;
	background-color: #8F23AA;
}
#top-navigasi{
	height: 40px;
	width: 100%;
	position: relative;
	background-color: #222D32;;
	text-align: center;
}
#top-navigasi h1{
	font-family: sans-serif;
	font-size: 15px;
	line-height: 40px;
	color: #fff;
}
#banner-navigasi{
	height: 110px;
	width: 100%;
	position: relative;
}
#banner-navigasi #banner-prof{

/*		background-image: url("../img/ru.jpg");
	background-size: 100% 160%;
	background-repeat: no-repeat;
	background-position: center 0px; */
	width: 100%;
	height: 110px;
	position: relative;
}
#banner-navigasi .log-session{
	width: 60%;
	height: 50%;
	position: absolute;
	margin-top: -85px;
	margin-left: 55px;
	flex-direction:row;
}
.log-session .profil{
	width: 45px;
	height: 45px;
	background-color: #fff;
	position: absolute;
	border-radius:50%;
	margin-top:3px;
	margin-left: -4px;
}
.log-session h1{
	font-family:sans-serif;
	font-size: 15px;
	position: relative;
	margin-left: 50px;
	margin-top: 8px;
	color: white;
	text-shadow: 0 -1px 1px #1a4f9d;
}
.log-session h2{
	font-family:sans-serif;
	font-size: 13px;
	position: relative;
	margin-left: 50px;
	margin-top: 3px;
	color: white;	
	text-shadow: 0 -1px 1px #1a4f9d;
}
#menu-navigasi{
	width: 100%;
}
#menu-navigasi a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #444;
	padding: 10px;
	padding-left: 65px;
	display: block;
	width: 197px;
	height: 20px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#menu-navigasi a:hover{
	background-color: #dedede;
	transition: all 0.5s;
}
#top-navigasi:before{
	content:"\f0c9";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 25px;
	color: #fff;
	margin-left: 99px;
	margin-top: 9px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;

}
#dashboard-menu:before{
	content:"\f0ea";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 19px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#surat-menu{
	cursor: pointer;
}
#surat-menu:before{
	content:"\f003";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#surat-masuk:before{
	content:"\f003";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#surat-disposisi:before{
	content:"\f003";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#surat-keluar:before{
	content:"\f003";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#surat-terkirim:before{
	content:"\f1d8";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#data-master-menu{
	cursor: pointer;
}
#data-master-menu:before{
	content:"\f013";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#users-menu:before{
	content:"\f0c0";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#logout-menu:before{
	content:"\f08b";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -24px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #fff;
}
#header-right-admin #login-as-name{
	width: 400px;
	height: 100%;
	text-align: right;
}
#header-right-admin #login-as-name a{
	text-decoration: none;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 16px;
	text-shadow: 0 -1px 1px #1a4f9d;
	color: white;
	line-height: 50px;
	margin-right: 30px;
	text-rendering: auto;
}
#header-right-admin #login-as-name a:before{
	content:"\f085";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #fff;
	margin-left: -26px;
	margin-top: -1px;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #1a4f9d;
}

.dropdown-content {
    display: none;
    position: relative;
    min-width: 160px;
    overflow: auto;
    margin-left: 20px;
}
.show {display:block;}
#myDropdown1 a:hover {border-right:4px solid transparent;transition: all 0.5s ease;margin-left: 20px;}
#myDropdown a:hover {border-right:4px solid transparent;transition: all 0.5s ease;margin-left: 20px;}
.breadcrumbs{
	width: 98%;
	height: 40px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    text-rendering: auto;
    text-shadow: 0 -1px 1px #fff;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
ul.breadcrumb li {
    color: #444;
    font-family: sans-serif;
    font-size: 17px;
    text-rendering: auto;
    text-shadow: 0 -1px 1px #fff;
}

/* -------- for surat masuk ----------- */
.title-containner div.search{
	width: 100%;
	height: 30px;
	margin-top: 10px;
}
.title-containner div.search input{
	width: 179px;
	height: 30px;
	outline: none;
	padding-left: 10px;
} 
.title-containner div.search button{
	width: 45px;
	height: 33.5px;
	margin-left: -8px;
	position: absolute;
} 
.title-containner div.search button:before{
	content:"\f002";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 18px;
	color: #444;
	margin-left: -8.5px;
	margin-top: -8px;
	text-rendering: auto;
}

.add-surat{
	display: block;
	position: absolute;
	background-color: #1392B1;
	border-radius: 50%;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
	margin-left: 950px;
	margin-top: -70px;
	box-shadow: 0 1px 1px #a7a7a7;
 	color: white !important;
 	text-shadow: 0 -1px 1px #1a4f9d;
}
.main-containner table tr .paper-containner1{
	padding: 10px;
	vertical-align: top;
	padding-top: 20px;
}
.main-containner table tr .paper-containner1 table tr td{
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.main-containner table tr .paper-containner1 table{
	height: 20px;
	min-height: 60px;
	border:1px solid #fff;
}
.main-containner table tr .paper-containner1 table tr th{
	height: 30px;
	font-size: 13px;
	font-family: sans-serif;
	color: white !important;
 	text-shadow: 0 0px 1px #1a4f9d;
	background-color: #08ABD4;
	text-rendering: auto;
}
.main-containner table tr .paper-containner1 table tr td{
	height: 20px;
	vertical-align: middle;
	padding: 0px;
	background-color: #F1F1F1;
	font-size: 13px;
	font-family: sans-serif;
}
.main-containner table tr .paper-containner1 table tr th.no{
	width: 35px;
}

.main-containner table tr .paper-containner1 table tr th.aksi{
	width: 35px;
}
.main-containner table tr .paper-containner1 table tr th.lamp{
	width: 60px;
}
.main-containner table tr .paper-containner1 table tr th.pengirim{
	width: 100px;
}
.main-containner table tr .paper-containner1 table tr th.penerima{
	width: 100px;
}
.main-containner table tr .paper-containner1 table tr th.prihal{
	width: 210px;
}
.main-containner table tr .paper-containner1 table tr th.nomor{
	width: 160px;
}
.main-containner table tr .paper-containner1 table tr td#edit a{
text-decoration: none;
display: block;
width: 80%;
margin: auto;
height: 35px;
border-radius: 5px;
background-image: linear-gradient(to bottom, #FF9A46 0, #FB7608 100%);
margin-top: 3px;
margin-bottom: 3px;
}
.main-containner table tr .paper-containner1 table tr td#edit{
vertical-align: top;
}

.main-containner table tr .paper-containner1 table tr td#download a{
text-decoration: none;
display: block;
width: 80%;
margin: auto;
height: 35px;
border-radius: 5px;
background-image: linear-gradient(to bottom, #FF9A46 0, #FB7608 100%);
margin-top: 3px;
margin-bottom: 3px;
}
.main-containner table tr .paper-containner1 table tr td#download{
vertical-align: top;
}

.main-containner table tr .paper-containner1 table tr td#delete a{
text-decoration: none;
display: block;
width: 80%;
margin: auto;
height: 35px;
border-radius: 5px;
background-image: linear-gradient(to bottom, #FF3434 0, #E70F0F 100%);
margin-top: 3px;
margin-bottom: 3px;
}
.main-containner table tr .paper-containner1 table tr td#delete{
vertical-align: top;
}
#edit a::before{
	content:"\f040";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 20px;
	color: #fff;
	margin-left: -6px;
	margin-top: 5.5px;
	text-rendering: auto;
}
#delete a::before{
	content:"\f014";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 20px;
	color: #fff;
	margin-left: -8px;
	margin-top: 5.5px;
	text-rendering: auto;
}
#download a::before{
	content:"\f15b";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 20px;
	color: #fff;
	margin-left: -6px;
	margin-top: 5.5px;
	text-rendering: auto;
}
.fornumb{
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	font-family: sans-serif;
	font-size: 14px;
}

/* for add surat */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    height: 80%;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.modal-content div.container1{
	width: 100%;
	height: 95%;
	padding: 10px;
}
.modal-content div.container1 label{
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: sans-serif;
	font-size: 14px;
	color: #444;
}
.modal-content div.container1 input{
	width: 93%;
	height: 30px;
	padding-left: 10px;
}

.modal-content div.container1 input[type=file]{
	padding: 10px;
	background-color: #dedede;
}

.modal-content div.container2{
	width: 96.3%;
	padding: 10px;
	background-color: #fff;
}
.modal-content div.container2 .cancelbtn{
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 17px;
 padding-right: 17px;
 background-color: red;
 outline: none;
 color: white !important;
 display: inline-block;
 border:none;
background-image: linear-gradient(to bottom, #D91B61 0, #C3185C 100%);
	border:1px solid #A50202;
	color: white !important;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #A50202;
}
.modal-content div.container2 .save{
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 17px;
 padding-right: 17px;
 background-color: green;
 outline: none;
 color: white !important;
 display: inline-block;
 border:none;
 background-image: linear-gradient(to bottom, #0B877C 0, #09736A 100%);
border:1px solid #09736A;
text-rendering: auto;
text-shadow: 0 -1px 1px #1a4f9d;
}

/* -------- for admin data master menu ----------- */
.main-containner1 table tr td.paper-containner2{
	padding: 10px;
}
.main-containner1 table tr td.paper-containner2 table tr td.avatar{
	width: 30%;
	height: 100%;
		vertical-align: top;
		text-align: center;
}
.main-containner1 table tr td.paper-containner2 table tr td.avatar img{
	width: 200px;
	height: 193px;
	border:2.5px dotted #999;
 	color: white !important;
}
.main-containner1 table tr td.paper-containner2 table tr td.avatar input{

	margin-top: 10px;
	width: 70px;
	height: 20px;
	background-color: #eee;
	padding: 10px;
}
.avatar h1{
	font-family: sans-serif;
	font-size: 18px;
	color: #444;
	margin-bottom: 20px;
}
.description-profil{
	padding: 10px;
	padding-left: 25px;
	vertical-align: top;
}
.description-profil label{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
	color: #444;
}
.description-profil input{
	width: 80%;
	height: 30px;
	padding-left: 20px;
	outline: none;
	margin-bottom: 13px;
}
.description-profil input[type="checkbox"]{
width: 15px;
height: 15px;
float: left;
margin-left: -25px; 
margin-top:10px;
position: absolute;
}

.description-profil input[type="checkbox"]:before{
	content:"\f06e";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 20px;
	color: #444;
	margin-left: -4px;
	margin-top: -3.5px;
	text-rendering: auto;
	display: block;
	background-color: #fff;

	
}

.description-profil .add{
	padding-left: 17px;
	padding-top: 8px;
	padding-right: 17px;
	padding-bottom: 8px;
	margin-top:150px; 
	margin-left: 250px;
	background-color: #0B877C;
	background-image: linear-gradient(to bottom, #0B877C 0, #09736A 100%);
	border:1px solid #09736A;
	outline: none;
	color: white !important;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #1a4f9d;
	float: left;
}
.description-profil .back{
	padding-left: 17px;
	padding-top: 8px;
	padding-right: 17px;
	padding-bottom: 8px;
	margin-top:-33px; 
	margin-left: 340px;
	background-color: #0B877C;
	background-image: linear-gradient(to bottom, #D91B61 0, #C3185C 100%);
	border:1px solid #A50202;
	outline: none;
	color: white !important;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #A50202;
	float: left;
}
.main-containner1{
	width: 70.5%;
	height:100%;
	margin: auto;
	background-color: #fff;
	margin-top: 10px;
	box-shadow: 0px 0px 9px  #888;
	padding:10px;
	margin-bottom: 14px;
}
.main-containner1 table{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
.main-containner1 table tr .title-containner1{
	height: 60px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1.5px solid #E1E1E1;
}
.main-containner1 table tr .title-containner1 p{
	font-family: sans-serif;
	color: #444;
	font-size: 23px;
	padding: 5px;
}
#coverme{
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.description-profil form .coverme1{
	margin-top: -10px;
}
.description-profil select{
	width: 84.9%;
	height: 30px;
	padding-left: 20px;
	outline: none;
	margin-bottom: 3px;	
}

/*for user view */
.paper-containner1 table tr .usernames{
	width: 280px;
}
.main-containner table tr .paper-containner1 table tr td#edit1 a{
text-decoration: none;
display: block;
width: 40%;
margin: auto;
height: 35px;
border-radius: 5px;
background-image: linear-gradient(to bottom, #FF9A46 0, #FB7608 100%);
margin-top: 3px;
margin-bottom: 3px;
}
.main-containner table tr .paper-containner1 table tr td#edit1{
vertical-align: top;
}
.main-containner table tr .paper-containner1 table tr td#delete1 a{
text-decoration: none;
display: block;
width: 38%;
margin: auto;
height: 35px;
border-radius: 5px;
background-image: linear-gradient(to bottom, #FF3434 0, #E70F0F 100%);
margin-top: 3px;
margin-bottom: 3px;
}
.main-containner table tr .paper-containner1 table tr td#delete1{
vertical-align: top;
}
#edit1 a::before{
	content:"\f040";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 20px;
	color: #fff;
	margin-left: -8px;
	margin-top: 5.5px;
	text-rendering: auto;
}
#delete1 a::before{
	content:"\f014";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 20px;
	color: #fff;
	margin-left: -8px;
	margin-top: 5.5px;
	text-rendering: auto;
}

.update-s{
	width: 100%;
	padding: 10px;
	padding-left: 35px;
}
.update-s label{
	width: 100%;
	height: 30px;
	display: block;
	font-family: sans-serif;
	font-size: 14px;
	color: #444;
	margin-bottom: 0px;
}
.update-s input{
	width: 90%;
	height: 30px;
	margin-bottom: 10px;
	margin-top: -10px;
}
.container3{
	margin-top: 20px;
	width: 100%;
	height: 40px;
	text-align: right;
}

div.container3 .cancelbtn{
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 17px;
 padding-right: 17px;
 background-color: red;
 outline: none;
 color: white !important;
 display: inline-block;
 border:none;
background-image: linear-gradient(to bottom, #D91B61 0, #C3185C 100%);
	border:1px solid #A50202;
	color: white !important;
	text-rendering: auto;
	text-shadow: 0 -1px 1px #A50202;
	cursor: pointer;
}
div.container3 .save{
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 17px;
 padding-right: 17px;
 background-color: green;
 outline: none;
 color: white !important;
 display: inline-block;
 border:none;
 background-image: linear-gradient(to bottom, #0B877C 0, #09736A 100%);
border:1px solid #09736A;
text-rendering: auto;
text-shadow: 0 -1px 1px #1a4f9d;
cursor: pointer;
}

.main-containner1 table tr .title-containner{
	height: 40px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1.5px solid #E1E1E1;
}
.main-containner1 table tr .title-containner p{
	font-family: sans-serif;
	color: #444;
	font-size: 23px;
	padding: 5px;
}



/* Panel Admin */

.this_inbox .atas{
width: 100%;
height: 75%;
text-align: center;	
}
.this_inbox .bawah{
width: 100%;
height: 25%;
text-align: center;	
background-color: #0B776A;
}
.this_inbox .bawah h1{
font-family: arial;
font-size: 18px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 110px;
letter-spacing: .5px;
}
.this_inbox .atas h1{
font-family: arial;
font-size: 65px;
margin-top: 59px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 140px;
letter-spacing: .5px;
}
.this_inbox .bawah h1::before{
	content:"\f01a";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 35px;
	color: #fff;
	margin-left: -78px;
	margin-top: 1px;
	text-rendering: auto;
	transform: rotate(-90deg);
}
.this_inbox .bawah h1:hover{
	padding-left: 20px;
	transition: all 0.5s ease;
}
.this_outbox .atas{
width: 100%;
height: 75%;
text-align: center;	
}
.this_outbox .bawah{
width: 100%;
height: 25%;
text-align: center;	
background-color: #F47A07;
}
.this_outbox .atas h1{
font-family: arial;
font-size: 65px;
margin-top: 59px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 140px;
letter-spacing: .5px;
}
.this_outbox .bawah h1{
font-family: arial;
font-size: 18px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 105px;
letter-spacing: .5px;
}
.this_outbox .bawah h1::before{
	content:"\f01a";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 35px;
	color: #fff;
	margin-left: -78px;
	margin-top: 1px;
	text-rendering: auto;
	transform: rotate(-90deg);
}
.this_outbox .bawah h1:hover{
	padding-left: 20px;
	transition: all 0.5s ease;
}
.message-sent .atas{
width: 100%;
height: 75%;
text-align: center;	
}
.message-sent .bawah{
width: 100%;
height: 25%;
text-align: center;	
background-color: #0A99D1;
}
.message-sent .atas h1{
font-family: arial;
font-size: 65px;
margin-top: 59px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 140px;
letter-spacing: .5px;
}
.message-sent .bawah h1{
font-family: arial;
font-size: 18px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 105px;
letter-spacing: .5px;
}

.message-sent .bawah h1::before{
	content:"\f01a";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 35px;
	color: #fff;
	margin-left: -78px;
	margin-top: 1px;
	text-rendering: auto;
	transform: rotate(-90deg);
}
.message-sent .bawah h1:hover{
	padding-left: 20px;
	transition: all 0.5s ease;
}
.users .atas{
width: 100%;
height: 75%;
text-align: center;	
}
.users .bawah{
width: 100%;
height: 25%;
text-align: center;	
background-color: #7C1EA3;
}
.users .atas h1{
font-family: arial;
font-size: 65px;
margin-top: 59px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 140px;
letter-spacing: .5px;
}
.users .bawah h1{
font-family: arial;
font-size: 18px;
position: absolute;
color: white;
line-height: 50px;
margin-left: 105px;
letter-spacing: .5px;
}
.users .bawah h1::before{
	content:"\f01a";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 35px;
	color: #fff;
	margin-left: -78px;
	margin-top: 1px;
	text-rendering: auto;
	transform: rotate(-90deg);
}
.users .bawah h1:hover{
	padding-left: 20px;
	transition: all 0.5s ease;
}

/*  for disposisi surat    */
#disposisi{
	width: 10px;
	height: 100%;
}
#disposisi select{
	height: 30px;
	margin-right: 10px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}